@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 8, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 19, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 26, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
a:hover {
  color: #e76c3c;
}

/* line 29, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.row {
  padding: 80px 0px;
}

/* line 32, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}

/* line 41, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.btn-common {
  background: #3d566e;
  color: #fff;
}

/* line 45, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}

/* line 50, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.title {
  text-align: center;
  font-size: 50px;
}

/* line 54, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}

/* line 61, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar {
  margin-bottom: 0;
}

/* line 64, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar li {
  color: #d1d1d1;
}

/* line 67, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* line 72, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}

/* line 78, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}

/* line 82, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #e74c3c;
  padding-bottom: 5px;
  color: #fff;
}

/* line 88, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}

/* line 93, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-brand:hover {
  color: #eee;
}

/* line 96, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

/* line 99, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}

/* line 103, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.affix.navbar-default {
  background: rgba(0, 0, 0, 0.8);
}

/* line 106, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#hero-area {
  background: #34495e;
  color: #fff;
}

/* line 110, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#hero-area .btn {
  margin-right: 20px;
}

/* line 113, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#hero-area img {
  max-width: 100%;
}

/* line 116, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#hero-area p {
  padding: 50px 0;
}

/* line 119, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}

/*Portfolio*/
/* line 125, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#portfolio {
  background: #f1f1f1;
}

/*Portfolio Overlay */
/* line 129, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}

/* line 133, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item img {
  width: 100%;
}

/* line 136, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

/* line 145, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

/* line 154, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 166, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.portfolio-item .icons .preview i {
  color: #e74c3c;
}

/* line 169, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#clients {
  background: #fff;
}

/* line 172, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#about {
  background: #34495e;
  color: #fff;
}

/* line 176, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#about p {
  line-height: 30px;
  font-size: 17px;
}

/* line 180, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact {
  background: #f1f1f1;
}

/* line 183, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}

/* line 186, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact :-moz-placeholder {
  color: #ecf0f1;
}

/* line 189, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact ::-moz-placeholder {
  color: #ecf0f1;
}

/* line 192, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}

/* line 195, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}

/* line 204, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .social-links a:hover {
  color: #fff;
}

/* line 207, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}

/* line 211, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}

/* line 215, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}

/* line 219, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}

/* line 223, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}

/* line 227, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}

/* line 231, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .contact-info {
  margin: 40px 0;
}

/* line 234, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .contact-info p {
  font-size: 20px;
}

/* line 237, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
/* line 246, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}

/* line 253, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 262, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#copyright {
  background: #F1F1F1;
  color: #333;
}

/* line 266, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/pages.scss */
#copyright a {
  color: #333;
}
/* line 1, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 4, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
/* line 9, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
/* line 12, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
/* line 17, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
/* line 23, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.navbar + .jumbotron {
  margin-top: -20px;
}
/* line 27, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
/* line 36, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo img {
  max-width: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 5, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 16, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 23, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
a:hover {
  color: #e76c3c;
}

/* line 26, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.row {
  padding: 80px 0px;
}

/* line 29, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}

/* line 38, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.btn-common {
  background: #3d566e;
  color: #fff;
}

/* line 42, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}

/* line 47, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.title {
  text-align: center;
  font-size: 50px;
}

/* line 51, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}

/* line 58, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar {
  margin-bottom: 0;
}

/* line 61, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar li {
  color: #d1d1d1;
}

/* line 64, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* line 69, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}

/* line 75, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}

/* line 79, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #e74c3c;
  padding-bottom: 5px;
  color: #fff;
}

/* line 85, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}

/* line 90, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-brand:hover {
  color: #eee;
}

/* line 93, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

/* line 96, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}

/* line 100, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.affix.navbar-default {
  background: rgba(0, 0, 0, 0.8);
}

/* line 103, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#hero-area {
  background: #34495e;
  color: #fff;
}

/* line 107, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#hero-area .btn {
  margin-right: 20px;
}

/* line 110, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#hero-area img {
  max-width: 100%;
}

/* line 113, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#hero-area p {
  padding: 50px 0;
}

/* line 116, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}

/*Portfolio*/
/* line 122, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#portfolio {
  background: #f1f1f1;
}

/*Portfolio Overlay */
/* line 126, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}

/* line 130, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item img {
  width: 100%;
}

/* line 133, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

/* line 142, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

/* line 151, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 163, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.portfolio-item .icons .preview i {
  color: #e74c3c;
}

/* line 166, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#clients {
  background: #fff;
}

/* line 169, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#about {
  background: #34495e;
  color: #fff;
}

/* line 173, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#about p {
  line-height: 30px;
  font-size: 17px;
}

/* line 177, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact {
  background: #f1f1f1;
}

/* line 180, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}

/* line 183, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact :-moz-placeholder {
  color: #ecf0f1;
}

/* line 186, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact ::-moz-placeholder {
  color: #ecf0f1;
}

/* line 189, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}

/* line 192, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}

/* line 201, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .social-links a:hover {
  color: #fff;
}

/* line 204, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}

/* line 208, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}

/* line 212, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}

/* line 216, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}

/* line 220, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}

/* line 224, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}

/* line 228, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .contact-info {
  margin: 40px 0;
}

/* line 231, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .contact-info p {
  font-size: 20px;
}

/* line 234, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
/* line 243, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}

/* line 250, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 259, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#copyright {
  background: #F1F1F1;
  color: #333;
}

/* line 263, /home/dappastar/Dropbox/dev/startnows/startnow/app/assets/stylesheets/welcome.css.scss */
#copyright a {
  color: #333;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

