/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}

#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 